{% extends 'base.html' %}

{% load static %}

{% block css %}
{% endblock css %}

{% block content %}
<div class="page-body">
    {% include 'layout/breadcrumb.html' %}
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% include 'layout/message.html' %}
            </div>
            <div class="col-9">
                <form class="card" id="configForm">
                    <div class="card-body p-4">
                        <div class="col-sm-6 col-md-9" style="margin: 0 auto">
                            <!-- User -->
                            <div class="mb-3">
                                <label class="form-label">User</label>
                                <select class="form-select" id="user_id">
                                    <option value="">Select</option>
                                    {% for user in user_info %}
                                    <option value="{{ user.user_id }}">{{ user.company_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- MNO/IPTSP -->
                            <div class="mb-3">
                                <label class="form-label">MNO/IPTSP</label>
                                <select class="form-select" id="operator_type">
                                    <option value="">Select</option>
                                    {% for op in operator_types %}
                                    <option value="{{ op }}">{{ op }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- operator_name -->
                            <div class="mb-3">
                                <label class="form-label">Operator</label>
                                <select class="form-select" id="operator_name">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <!-- Operator Prefix -->
                            <div class="mb-3">
                                <label class="form-label">Operator Prefix</label>
                                <input type="text" class="form-control" id="operator_prefix"/>
                            </div>
                            <!-- Username -->
                            <div class="mb-3">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" id="username"/>
                            </div>
                            <!-- Password -->
                            <div class="mb-3">
                                <label class="form-label">API Password</label>
                                <input type="text" class="form-control" id="password"/>
                            </div>
                            <!-- BillMsisdn -->
                            <div class="mb-3">
                                <label class="form-label">Bill Msisdn</label>
                                <input type="text" class="form-control" id="bill_msisdn"/>
                            </div>
                            <!-- Enable Masking -->
                            <div class="mb-3">
                                <label class="form-label">Enable Masking</label>
                                <select class="form-select" id="is_masking_enabled">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                            <!-- Cli -->
                            <div class="mb-3">
                                <label class="form-label">Cli</label>
                                <input type="text" class="form-control" id="cli"/>
                            </div>

                            <div class="mb-3">
                                <button class="btn btn-success" id="btnStore">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
{% endblock content %}

{% block scriptcontent %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script>
        function emptyFormValues() {
            $("#operator_prefix").val( "" )
            $("#username").val( "" )
            $("#password").val( "" )
            $("#bill_msisdn").val( "" )
            $("#cli").val( "" )
        }
        function setFormValues(obj) {
            $("#operator_prefix").val(obj.api_key)
            $("#username").val(obj.send_sms_url)
            $("#password").val(obj.delivery_status_url)
            $("#bill_msisdn").val(obj.check_balance_url)
            $("#cli").val(obj.check_cli_url)
        }

        $( document ).ready(function() {
            emptyFormValues()
            /*
            let config_list = {{ config_list|safe }}
            if(config_list) {
                config_list.forEach(c => {
                    if (c.operator_type === "MNO") mno_config = c
                    else if (c.operator_type === "IPTSP") iptsp_config = c
                })
            }
            //*/
        });

        $("#operator_type").change(function(){
            let $option = $(this).find('option:selected')
            let value = $option.val()
            let text = $option.text()

            emptyFormValues()

            // if(value === "MNO") setFormValues(mno_config)
            // else if(value === "IPTSP") setFormValues(iptsp_config)
        });

        // STORE DATA
        $("#btnStore").click(function(e) {
            e.preventDefault()

            let operator_type = $("#operator_type").find('option:selected').val()
            let api_key = $("#api_key").val()
            let send_sms_url = $("#send_sms_url").val()
            let delivery_status_url = $("#delivery_status_url").val()
            let check_balance_url = $("#check_balance_url").val()
            let check_cli_url = $("#check_cli_url").val()
            let url = '{% url 'user.operator.credential.configuration.store' %}'

            let data = {
                operator_type: operator_type,
                api_key: api_key,
                send_sms_url: send_sms_url,
                delivery_status_url: delivery_status_url,
                check_balance_url: check_balance_url,
                check_cli_url : check_cli_url
            }

            // AJAX START
            $.ajax({
                type: 'post',
                url: url,
                dataType: 'json',
                data: data,
                success: function( response ) {
                    toastr.success( response.message )
                },
                error: function ( error ) {
                    toastr.error("Something Went Wrong")
                }
            }); // AJAX END
        }); // STORE END




</script>
{% endblock %}