{% extends 'base.html' %}

{% load static %}

{% block css %}
{% endblock css %}

{% block content %}
<div class="page-body">
    {% include 'layout/breadcrumb.html' %}
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% include 'layout/message.html' %}
            </div>
            <div class="col-9">
                <form class="card" id="configForm">
                    <div class="card-body p-4">
                        <div class="col-sm-6 col-md-9" style="margin: 0 auto">

                            <!-- MNO/IPTSP -->
                            <div class="mb-3">
                                <label class="form-label">MNO/IPTSP</label>
                                <select class="form-select" id="operator_type">
                                    <option value="">Select</option>
                                    {% for op in operator_types %}
                                    <option value="{{ op.id }}">{{ op.operator_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- operator_name -->
                            <div class="mb-3">
                                <label class="form-label">Operator</label>
                                <select class="form-select" id="operator_name">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <!-- Operator Prefix -->
                            <div class="mb-3">
                                <label class="form-label">Operator Prefix</label>
                                <input class="form-control" id="operator_prefix" readonly required type="text"/>
                            </div>

                            <!-- Username -->
                            <div class="mb-3">
                                <label class="form-label">Username</label>
                                <input class="form-control" id="username" type="text"/>
                            </div>
                            <!-- Password -->
                            <div class="mb-3">
                                <label class="form-label">API Password</label>
                                <input class="form-control" id="password" type="text"/>
                            </div>
                            <!-- BillMsisdn -->
                            <div class="mb-3">
                                <label class="form-label">BILLMSISDN</label>
                                <input class="form-control" id="bill_msisdn" type="text"/>
                            </div>

                            <div class="mb-3">
                                <button class="btn btn-success" id="btnStore">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
{% endblock content %}

{% block scriptcontent %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script>

        function containsOnlyNumbers(str) {
          return /^\d+$/.test(str);
        }

        function emptyFormValues() {
            $("#operator_prefix").val( "" )
            $("#username").val( "" )
            $("#password").val( "" )
            $("#bill_msisdn").val( "" )
            $("#cli").val( "" )
        }
        function setFormValues(obj) {
            $("#operator_prefix").val(obj.api_key)
            $("#username").val(obj.send_sms_url)
            $("#password").val(obj.delivery_status_url)
            $("#bill_msisdn").val(obj.check_balance_url)
            $("#cli").val(obj.check_cli_url)
        }

        function setOperatorNames(operator_list) {
            $("#operator_name").empty()
            let option = `<option value=''>Select</option>`
            $("#operator_name").append(option)
            operator_list = [...new Map(operator_list.filter(Boolean).map(item =>[item['operator_name'], item])).values()]
            operator_list.forEach( operator => {
                option = `<option value=${operator.operator_prefix}>${operator.operator_name}</option>`
                $("#operator_name").append(option)
            })
        }

        $( document ).ready(function() {
            console.clear()
            emptyFormValues()
            /*
            let config_list = {{ config_list|safe }}
            if(config_list) {
                config_list.forEach(c => {
                    if (c.operator_type === "MNO") mno_config = c
                    else if (c.operator_type === "IPTSP") iptsp_config = c
                })
            }
            //*/
        });

        $("#operator_type").change(function() {
            emptyFormValues()
            operator_list = []
            let option = $(this).find('option:selected')
            let value = option.text()
            if(value === "MNO") {
                // setFormValues(mno_config)
                operator_list = {{ mno_list|safe }}
            } else if(value === "IPTSP") {
                // setFormValues(iptsp_config)
                operator_list = {{ iptsp_list|safe }}
            }
            setOperatorNames(operator_list)
        });

        $("#operator_name").change(function() {
            let value = $(this).find('option:selected').val()
            let all_operator_list = {{ all_operator_list|safe }}
            let selected_operator = all_operator_list.filter(item => item.operator_prefix === value)
            if( selected_operator.length > 0 ) {
                selected_operator = selected_operator[0].operator_name
                selected_operator = all_operator_list.filter(item => item.operator_name === selected_operator)
                let prefix = Object.values(selected_operator).map(item => item.operator_prefix).join(',')
                $("#operator_prefix").val(prefix)
            } else {
                $("#operator_prefix").val("")
            }
        });

        // STORE DATA
        $("#btnStore").click(function(e) {
            e.preventDefault()
            $(this).prop("disabled",true)

            let url = '{% url 'aggregator.operator.credential.configuration.store' %}'
            let operator_type = $("#operator_type").find('option:selected').val()
            let operator_name = $("#operator_name").val()
            let operator_prefix = $("#operator_prefix").val()
            let username = $("#username").val()
            let password = $("#password").val()
            let bill_msisdn = $("#bill_msisdn").val()

            $("#operator_type").attr('style', "border-radius: .25rem; border:#CED4DA 1px solid;")
            $("#operator_name").attr('style', "border-radius: .25rem; border:#CED4DA 1px solid;")
            $("#operator_prefix").attr('style', "border-radius: .25rem; border:#CED4DA 1px solid;")
            $("#username").attr('style', "border-radius: .25rem; border:#CED4DA 1px solid;")
            $("#password").attr('style', "border-radius: .25rem; border:#CED4DA 1px solid;")
            $("#bill_msisdn").attr('style', "border-radius: .25rem; border:#CED4DA 1px solid;")

            if( !operator_type ) {
                toastr.warning("Please Select Operator Type")
                $("#operator_type").attr('style', "border-radius: .5rem; border:#FF0000 1px solid;")
                $(this).prop("disabled",false)
                return
            }

            if( !operator_prefix ) {
                toastr.warning("Please Select Operator")
                $("#operator_prefix").attr('style', "border-radius: .5rem; border:#FF0000 1px solid;")
                $("#operator_name").attr('style', "border-radius: .5rem; border:#FF0000 1px solid;")
                $(this).prop("disabled",false)
                return
            }

            if( !username ) {
                toastr.warning("Please Input Username")
                $("#username").attr('style', "border-radius: .5rem; border:#FF0000 1px solid;")
                $(this).prop("disabled",false)
                return
            }

            if( !password ) {
                toastr.warning("Please Input Password")
                $("#password").attr('style', "border-radius: .5rem; border:#FF0000 1px solid;")
                $(this).prop("disabled",false)
                return
            }

            if( !bill_msisdn || !containsOnlyNumbers(bill_msisdn) ) {
                toastr.warning("Please Input valid BILL MSISDN")
                $("#bill_msisdn").attr('style', "border-radius: .5rem; border:#FF0000 1px solid;")
                $(this).prop("disabled",false)
                return
            }

            let data = {
                operator_type,
                operator_name,
                operator_prefix,
                username,
                password,
                bill_msisdn
            }

            // AJAX START
            $.ajax({
                type: 'post',
                url: url,
                dataType: 'json',
                data: data,
                success: function( response ) {
                    toastr.success( response.message )
                    // setTimeout(function() { location.reload() }, 500)
                    setTimeout(function() { $(this).prop("disabled",false) }, 500)
                },
                error: function ( error ) {
                    toastr.error("Something Went Wrong")
                    setTimeout(function() { $(this).prop("disabled",false) }, 500)
                }
            }); // AJAX END
        }); // STORE END































</script>
{% endblock %}